


.content {
  h2{
    font-size: 24px;
    border-bottom: solid 2px $text-color;
    margin-top: 50px;
    margin-bottom: 28px;
    padding: 15px;
  }
  h3{
    font-size: 22px;
    border-left-style: solid;
    border-left: 6px solid;
  }
  h4{
    font-size: 20px;
  }
  h5{
    font-size: 18px
  }
  p{
    font-size: 17px;
  }
}
